#point {
  height: 500vh !important;
  z-index: 10;
  background: #fffaef;
  padding-bottom: 100px;
}

#point .point-box {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

#point .point-box .test {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.point-box .test span {
  font-size: 50px;
  color: #70a98e;
  padding: 0 9px;
}

.point-box .deco-school {
  font-family: "Cafe24Decoschool", serif;
}

.point-box .deco-line {
  font-family: "Cafe24Decoline", serif;
}

.scroll-text {
  width: 100%;
  overflow: hidden;
  background-color: #fffaef;
  padding: 20px 0;
}

.test {
  flex: 1;
}

.track-left,
.track-right {
  display: inline-block;
  white-space: nowrap;
}

.track-left {
  animation: scroll-left 20s linear infinite;
}

.track-right {
  animation: scroll-right 20s linear infinite;
}

.track-left span,
.track-right span {
  display: inline-block;
  font-size: 50px;
  color: #70a98e;
  padding: 0 30px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.test {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-container {
  overflow: hidden;
  width: 300px;
}

.line-container .arrow {
  width: 0;
  height: auto;
  display: block;
  transition: none;
}

.test .arrow {
  position: absolute;
}

.content-inner {
  position: absolute;
  width: clamp(500px, 85vh, 850px);
  height: clamp(500px, 85vh, 850px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: orange; */
}

.content-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

/* .content {
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: red;
} */

.content-1 {
  position: absolute;
  top: 0%;
  right: 0%;
  /* background-color: yellow; */
  width: 300px;
  height: 300px;
}

.content-2 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  /* background-color: orange; */
  width: 300px;
  height: 300px;
}

.content-3 {
  position: absolute;
  bottom: 0%;
  left: 0%;
  /* background-color: blue; */
  width: 300px;
  height: 300px;
}

.content-1 .content-1-inner {
  width: 100%;
  height: 100%;
}

.arrow-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-line {
  stroke-dasharray: 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
    8 3000;
  stroke-dashoffset: 3000;
}

.arrow-head-1 {
  opacity: 0;
}

#arrow-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#arrow-head-1 {
  top: 100%;
  left: 50%;
  transform: rotate(-14deg);
}

.arrow-head {
  position: absolute;
  transform: translate(50%, -50%);
  opacity: 0;
}

#arrow-head-2 {
  top: 30%;
  right: 40%;
  transform: rotate(90deg);
}
#arrow-head-3 {
  top: 46%;
  right: 67.8%;
  transform: rotate(210deg);
}

.arrow path {
  stroke-dasharray: 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
    8 3000;
  stroke-dashoffset: 3000;
}

.test #arrow-2 {
  top: 80%;
  right: 36.5%;
  transform: translate(50%, -50%) rotate(83.5deg);
}

.test #arrow-3 {
  top: 60%;
  left: 25%;
  transform: translate(50%, -50%) rotate(210deg);
}

.ttest {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  border-radius: 999px;
}

.ttest img {
  object-fit: contain;
}

.label{
  transition: transform 0.5s ease;
}

.label-1 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.label-kal {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.label-lowfood {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.label img, #point .content{
  transition: scale 0.5s ease;
}

@media screen and (max-height:1000px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.95;
  }
}
@media screen and (max-height:950px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.9;
  }
}
@media screen and (max-height:900px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.85;
  }
}
@media screen and (max-height:850px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.8;
  }
}
@media screen and (max-height:800px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.75;
  }
}
@media screen and (max-height:1000px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.95;
  }
}
@media screen and (max-height:950px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.9;
  }
}
@media screen and (max-height:900px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.85;
  }
}
@media screen and (max-height:850px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.8;
  }
}
@media screen and (max-height:800px) and (max-width:1920px) and (min-width:1151px){
  .label img, #point .content{
    scale: 0.75;
  }
}
@media screen and (max-width:1150px) and (min-width:320px){
  #point .content{
    scale: 0.9;
  }
  .label img{
    scale: 0.7;
  }
}
@media screen and (max-width:1020px) and (min-width:320px){
  #point .content{
    scale: 0.8;
  }
  .label img{
    scale: 0.6;
  }
  .label-1{
    transform: translate(40%, -50%);
  }
  .label-kal{
    transform: translate(-40%, -50%);
  }
}
@media screen and (max-width:980px) and (min-width:320px){
  #point .content{
    scale: 0.6;
  }
  .label img{
    scale: 0.5;
  }
  .label-1{
    transform: translate(30%, -50%);
  }
  .label-kal{
    transform: translate(-30%, -50%);
  }
}
@media screen and (max-width:880px) and (min-width:320px){
  .content-1{
    top: 2%;
    right: 2%;
  }
  .content-2{
    bottom: 2%;
    right: 2%;
  }
  .content-3 {
    bottom: 2%;
    left: 2%;
  }
}
@media screen and (max-width:880px) and (min-width:320px){
  .content-1{
    top: 4%;
    right: 4%;
  }
  .content-2{
    bottom: 4%;
    right: 4%;
  }
  .content-3 {
    bottom: 4%;
    left: 4%;
  }
  .label-1{
    transform: translate(10%, -50%);
  }
  .label-kal{
    transform: translate(-10%, -50%);
  }
  .label-lowfood {
    transform: translate(-50%, 25%);
  }
}
@media screen and (max-width:740px) and (min-width:320px){
  .content-1{
    top: 8%;
    right: 8%;
  }
  .content-2{
    bottom: 8%;
    right: 8%;
  }
  .content-3 {
    bottom: 8%;
    left: 8%;
  }
  .label-1{
    transform: translate(0%, -50%);
  }
  .label-kal{
    transform: translate(0%, -50%);
  }
  .label-lowfood {
    transform: translate(-50%, 10%);
  }
}
@media screen and (max-width:660px) and (min-width:320px){
  .content-1{
    top: 9%;
    right: 9%;
  }
  .content-2{
    bottom: 9%;
    right: 9%;
  }
  .content-3 {
    bottom: 9%;
    left: 9%;
  }
  .label-lowfood {
    transform: translate(-50%, 20%);
  }
}
@media screen and (max-width:600px) and (min-width:320px){
  #point .content{
    scale: 0.5;
  }
  .label img{
    scale: 0.4;
  }
  .content-1{
    top: 10%;
    right: 10%;
  }
  .content-2{
    bottom: 10%;
    right: 10%;
  }
  .content-3 {
    bottom: 10%;
    left: 10%;
  }
  .label-1{
    transform: translate(2%, -50%);
  }
  .label-kal{
    transform: translate(5%, -50%);
  }
  .label-lowfood {
    transform: translate(-50%, 0%);
  }
}
@media screen and (max-width:550px) and (min-width:320px){
  .label-1{
    transform: translate(-3%, -50%);
  }
  .label-kal{
    transform: translate(10%, -50%);
  }
  .label-lowfood {
    transform: translate(-50%, -5%);
  }
}
@media screen and (max-width:500px) and (min-width:320px){
  #point .content{
    scale: 0.4;
  }
  .label img{
    scale: 0.3;
  }
  .content-1{
    top: 13%;
    right: 13%;
  }
  .content-2{
    bottom: 13%;
    right: 13%;
  }
  .content-3 {
    bottom: 13%;
    left: 13%;
  }
  .label-1{
    transform: translate(-10%, -50%);
  }
  .label-kal{
    transform: translate(20%, -50%);
  }
  .label-lowfood {
    transform: translate(-50%, -45%);
  }
}