.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;

  &__logo img {
    margin-left: 1rem;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      margin-right: 1rem;
      height: 100%;
    }

    &-item {
      margin-left: 2rem;

      a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        font-weight: 300;
        // color: #fff;

        &:hover {
          border-bottom: 2px solid #333;
          cursor: pointer;
        }
      }
    }
  }
}
